.mission-board {
    margin: .25em;
    height: 100%;
}

.mission-board-header {
    margin-left: 4em;
    margin-right: 4em;
    height: 20%;
}

.mission-board-body {
    padding: 1em;
    height: calc(80% - 2em);
}

@media (max-width: 480px) {
    .mission-board-header {
        margin: 0 auto;
        position: relative;
    }
}