.objectives-block {
    margin: 1em;
}

.objective {
    background-color: var(--background-color);
    margin: .5em;
    border: dotted 1px black;
    cursor: pointer;
    color: var(--background-light-color);
    padding-top: .5em;
    padding-bottom: .5em;
}

.selected-objective {
    border: solid 1px black;
    color: white;
}