.player-board {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    box-shadow: -0 1em 1em rgba(0,0,0,0.5);
    margin: 1em;
    background-color: var(--background-light-color)
}

.player-board-header {
    background-color: var(--background-lighter-color);
    font-size: 50px;
    height: 10%;
}

.player-board-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.player-board-score {
    width: 100%;
    height: 30%;
    font-size: 100px;
    display: table;
}

.player-board-score-trophy {
    display: table-cell;
    vertical-align: middle;
    background-image: url("/trophy-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.player-board-missions {
    width: 100%;
    height: 70%;
}

@media (max-width: 480px) {
    .player-board {
        flex-wrap: nowrap;
    }

    .player-board-header {
        font-size: 20px;
    }

    .player-board-body {
        flex-direction: row;
    }

    .player-board-score {
        width: 30%;
        height: 90%;
    }

    .player-board-score-trophy {
        background-size: 200px;
    }

    .player-board-missions {
        width: 70%;
        height: 90%;
    }
}

