.player-board {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    box-shadow: -0 1em 1em rgba(0,0,0,0.5);
    margin: 1em;
    background-color: var(--background-light-color)
}

.active-player-board {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    box-shadow: -0 0 1em 6px rgba(255,255,255,0.5);
    margin: 1em;
    background-color: var(--background-light-color)
}

.player-board-header {
    background-color: var(--background-lighter-color);
    font-size: 50px;
    height: 10%;
}

.player-board-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.player-board-score {
    width: 100%;
    height: calc(30% - .5em);
    font-size: 100px;
    display: flex;
}

.player-board-score-trophy {
    margin-top: .25em;
    margin-bottom: .25em;
    background-image: url("/trophy-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50%;

}

.player-board-points {
    text-shadow: 1px 6px 11px black;
}

.player-board-command-points {
    margin-top: .25em;
    margin-bottom: .25em;
    background-image: url("/commander-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50%;
}

.player-board-missions {
    width: 100%;
    height: 70%;
}

@media (max-width: 480px) {
    .player-board {
        flex-wrap: nowrap;
    }

    .player-board-header {
        font-size: 20px;
    }

    .player-board-body {
        flex-direction: row;
    }

    .player-board-score {
        width: 30%;
        height: 90%;
        display: block;
    }

    .player-board-score-trophy {
        width:100%;
        height: 40%;
        margin-left: .1em;
    }

    .player-board-command-points {
        width:100%;
        height: 40%;
        margin-left: .1em;
    }

    .player-board-missions {
        width: 70%;
        height: 90%;
    }
}

