.button {
    font-size: x-large;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "DejaVu Sans";
    text-transform: uppercase;
    cursor: pointer;
}


.primary-button {
    background-color: var(--primary-color);
    color: white;
}

.primary-button:hover {
    background-color: var(--primary-light-color);
}

.secondary-button {
    background-color: var(--secondary-color);
}

.secondary-button:hover {
    background-color: var(--secondary-light-color);
}

@media (max-width: 480px) {
    .secondary-button {
        font-size: medium;
        padding: .25em;
        position: absolute;
        margin: 1em 2em;
    }
}