.form-group {
    padding: 1em;
}

.input-group {
    padding: .5em;
}

.text-input {
    height: 2em;
    font-size: x-large;
    background-color: black;
    border: none;
    border-bottom: solid white 2px;
    color: white;
}