.form-group {
    padding: 1em;
}

.input-group {
    padding: .5em;
}

.text-input {
    height: 2em;
    font-size: x-large;
    background-color: black;
    border: none;
    border-bottom: solid white 2px;
    color: white;
}

.text-input.error {
    border-bottom: solid red 2px;
}

.error-message {
    color: red;
    display: block;
}