.modal {
    max-width: 500px;
    transition: 1.1s ease-out;
    border: solid 1px black;
    transform: scale(1);
    box-shadow:
            -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    position: absolute;
    background: #282c34;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    background: #404753;
}

.modal-title {
    margin: .25em;
}

.modal-close-button {
    cursor: pointer;
    margin: .25em;
}