:root {
  --background-color: #282c34;
  --background-light-color: #3c434e;
  --background-lighter-color: #566171;

  --primary-color: #FF0000;
  --primary-light-color: #CD5C5C;
  --primary-dark-color: #a50000;

  --secondary-color: #17263b;
  --secondary-light-color: #2d4b78;
  --secondary-dark-color: #0d1623;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
